.cell {
  min-width: 30px;
  min-height: 30px;
  background-color: rgb(136, 80, 83);
  margin: 2px;
  border-radius: 4px;

  /* to show the number on the cell */
  color: #fff;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.hidden {
  background-color: rgb(91, 66, 69);
}

.cell.hidden:hover {
  background-color: rgb(111, 76, 79);
}
