#container {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  font-size: small;

  padding: 8px;
  display: flex;
  justify-content: center;

  color: var(--globalColor);
}

header {
  text-align: center;
  color: var(--globalColor);
}

.title,
.subtitle {
  letter-spacing: 2px;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  font-style: italic;
  font-weight: normal;
}
