footer {
  font-size: small;
}

header {
  text-align: center;
  color: var(--globalColor);
}

.title,
.subtitle {
  letter-spacing: 2px;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  font-style: italic;
  font-weight: normal;
}
